body{
    font-family: 'roboto', sans-serif;
    background-color: rgb(116, 53, 105);
    color: rgb(221, 167, 100);
    margin: 0%;
    padding: 20px;
}

div.caixa {
    border: 1px black;
    padding: 40px;
background-color: 
}
